:root {
    --bg-main: hsl(268, 75%, 9%);
    --bg-keypad: hsl(268, 71%, 12%);
    --bg-screen: hsl(268, 71%, 12%);

    --accent1-key-bg: hsl(281, 89%, 26%);
    --accent1-key-shdw: hsl(285, 91%, 52%);

    --accent2-key-bg: hsl(176, 100%, 44%);
    --accent2-key-shdw: hsl(177, 92%, 70%);
    --accent2-key-txt: hsl(198, 20%, 13%);

    --main-key-bg: hsl(268, 47%, 21%);
    --main-key-shdw: hsl(290, 70%, 36%);

    --clr-text: hsl(52, 100%, 62%);
    --clr-text-body: hsl(52, 100%, 62%);
    --clr-white: #ffffff;
}
